app1/files/
app1/bonus/files/
__pycache__/
bonus/__pycache__/
bonus/dest/
../.DS_Store
.DS_Store
bonus/.DS_Store
.idea/
.idea/other.xml
Chess/__pycache__/
Mancala/__pycache__/
.idea/python_mega_course.iml
